{% extends 'mother.html' %}

{% load static from staticfiles %}



{% block main %}
    <link  rel="stylesheet" href="{% static 'css/signup.css' %}"/>
    <script src="/static/js/jQuery.js" type="text/javascript" charset="UTF-8"></script>
    <script src="{% static 'js/signup.js' %}" type="text/javascript" charset="UTF-8"></script>
    <script src="{% static 'js/usernam.js' %}" type="text/javascript" charset="UTF-8"></script>

    <div>
    <form method="post" action="/traceback/" onsubmit="return checksub();">
        {% csrf_token %}
        <ul>

            <li>用户名:
                <input type="text" id = "uname" name="username" placeholder="请输入用户名">
                <span id="che"></span>
            </li>
            <li>密码:
                <input type="password" id="password" name="password" placeholder="请输入密码">
            </li>
            <li>姓名:
                <input type="text" id="name" name="name" placeholder="请输入姓名">
            </li>
            <li>学号:
                <input type="text" id="idn" name="idn" placeholder="请输入学号">
            </li>

        </ul>
        <input type="submit" name="" value="注册"/>
    </form>
    </div>

{% endblock %}