*{
    margin: 0;
    padding: 0;
    font-family: sans-serif,'Microsoft YaHei';
}

.header{
    background: #2c3e50;
    padding-top: 30px ;
    padding-bottom: 30px ;

}

.header h2{
    display: inline-block;
    margin-left: 40px;
    font-weight: 500;
    color: white;
    letter-spacing: 1px;
}

.header-form{
    color: darkgray;
    text-decoration: none;
    margin-right: 10px;
}

.header-form:hover{

    color: white;
}

.header ul{
    display: inline-block;
    float: right;
    color: #ffffff;
    padding-top: 9px;
    margin-right: 20px;

}
.middle{
    width: 100%;
}

.footer{
    padding-top: 50px ;
    padding-bottom: 50px ;
    text-align: center;
}

.footer ul{
    color: black;
}